html{
	background-color: lightblue;
}
#container{
	position: fixed;
	background-color: #337ab7;
	top: 2%;
	width: 96%;
	height: 8%;
    margin-left: 2%;
    margin-right: 2%;
}
/* #google_translate_element{
	position: fixed;
	top: 2%;
	left: 2%;
	height: 8%;
} */
#dropdown{
	position: fixed;
	top: 2%;
	left: 2%;
	height: 8%;
}
#home{
	position: fixed;
	top: 5%;
	left: 15%;
	color: white;
	font-weight: bold;
}
#join{
	position: fixed;
	top: 5%;
	left: 24%;
	color: white;
	font-weight: bold;
}
#aboutus{
	position: fixed;
	top: 4.75%;
	left: 30%;
	color: white;
	font-weight: bold;
}
#contactus{
	position: fixed;
	top: 4.75%;
	left:37%;
	color: white;
	font-weight: bold;
}
#search{
	position: fixed;
	top: 3.8%;
	right: 7%;
	width: 15%;
	height: 4%;
	text-align: center;
}
#searchicon{
	position: fixed;
	top: 5%;
	left: 78%;
	width: 15%;
	height: 10%;
	
}

#map{
	position: absolute;
	bottom: 50%;
	left: 70%;
	width: 360px;
    height: 200px;
}
#footer{
	position: fixed;
   bottom: 0;
}

